# 使用以下指令更新 git submodule update --remote --merge
[submodule "cheatsheets/cheatsheets1"]
	path = cheatsheets/cheatsheets1
	url = https://github.com/skywind3000/awesome-cheatsheets.git
[submodule "cheatsheets/cheatsheets2"]
	path = cheatsheets/cheatsheets2
	url = https://github.com/LeCoupa/awesome-cheatsheets.git
[submodule "c++/git/threadpoolDemo"]
	path = c++/git/threadpoolDemo
	url = https://github.com/lizhenghn123/zl_threadpool.git
[submodule "c++/git/sylarDemo"]
	path = c++/git/sylarDemo
	url = https://github.com/sylar-yin/sylar.git
[submodule "书籍/resourcesDemo"]
	path = 书籍/resourcesDemo
	url = https://github.com/liyupi/free-programming-resources.git
[submodule "c++/git/timerDemo"]
	path = c++/git/timerDemo
	url = https://github.com/hidva/timer.git
[submodule "c++/git/cjsonDemo"]
	path = c++/git/cjsonDemo
	url = https://github.com/DaveGamble/cJSON.git
[submodule "c++/git/代码随想录"]
	path = c++/git/代码随想录
	url = https://github.com/youngyangyang04/leetcode-master.git
[submodule "c++/git/搜狗workflow"]
	path = c++/git/搜狗workflow
	url = https://github.com/sogou/workflow.git
[submodule "c++/git/inifile-cpp"]
	path = c++/git/inifile-cpp
	url = https://github.com/Rookfighter/inifile-cpp.git
[submodule "c++/git/muduo"]
	path = c++/git/muduo
	url = https://github.com/chenshuo/muduo.git
